.projects {
  width: 100%;

  background-color: cadetblue;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;
}
.project {
  width: 30%;
  height: 30%;
  border: 2px solid darkblue;
}
