.projects {
  width: 100%;

  background-color: #E6DFD9;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;
}
.project {
  width: 30%;
  height: 30%;
}

h5 {

}