.skillsText {
  padding-top: 2%;
  text-align: center;
}

.app-skills {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  margin: 4rem auto;
  width: 100%;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  width: 60%;
  margin: 0 auto;
  max-width: 45rem;
  min-width: 20rem;
    
  }
.logo {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  width: 20%;
  max-width: 6rem;
  min-width: 5rem;
      
    }
.img-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  height: 5rem;
  border-radius: 10px;
  padding: 5px;
        
}
img {
  width: 90%;
  transition: all 0.5s;
  cursor: pointer;
}

.logo-name {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
        }

.logo-name:hover {
opacity: 1;
        }

.img {
opacity: 0.3;
scale: 0.9;
        }
