.skills {
  height: 550px;
  /* background-color: blueviolet; */
}

.skillsLogo {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem ;
  justify-content: center;
}
.technology__box {
  display: flex ;
  justify-content: center;
}
.skillsText {
  padding-top: 2%;
  text-align: center;
}
