.navbar {
  height: 65px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 0px 60px 0px 60px;
  font-size: x-large;
  text-align: center;}

.navbar ul{
  margin-right: 3rem;
  display: flex;
  margin: auto;
    
}

li {
  width: 5rem;
  list-style: none;
  margin-right: 5px;
}

.menu {
  display: flex;
  justify-content: center; 
}

.name {
  display: flex;
  align-items: center;
}
