* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------- navbar ---------------*/
.navbar {
  height: 65px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 0px 60px 0px 60px;
  font-size: x-large;
  text-align: center;}

.navbar ul{
  margin-right: 3rem;
  display: flex;
  margin: auto;
    
}

li {
  width: 5rem;
  list-style: none;
  margin-right: 5px;
}

.menu {
  display: flex;
 justify-content: center; 
}

.name {
  display: flex;
  align-items: center;
}


/* ----------------------- about ---------------*/

.about {
  height: 550px;
  background-color: bisque;
  display: flex;

}

.image {
  width: 40%;
  border: 2px solid red;
}

.text {
  width: 60%;
  border: 2px solid black;
  align-items: center;
  display: inline-block;
  align-items: center;

}
 

/* ----------------------- skills ---------------*/
.skills {
  height: 550px;
  background-color: blueviolet;
}


/* ----------------------- projects ---------------*/
.projects {
  height: 800px;
  background-color: cadetblue;
}


/* ----------------------- contacts ---------------*/
.contacts {
  height: 550px;
  background-color: chartreuse;
}


/* ----------------------- footer ---------------*/

.footer {
  height: 50px;
  background-color: darkgray;
}

