* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------- navbar ---------------*/
.navbar {
  height: 65px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 0px 60px 0px 60px;
  font-size: x-large;
  text-align: center;}

.navbar ul{
  margin-right: 3rem;
  display: flex;
  margin: auto;
    
}

li {
  width: 5rem;
  list-style: none;
  margin-right: 5px;
}

.menu {
  display: flex;
 justify-content: center; 
}

.name {
  display: flex;
  align-items: center;
}


/* ----------------------- about ---------------*/

.about {
  height: 550px;
  background-color: bisque;
  display: flex;

}

.image {
  width: 40%;
  position: relative;
}
.about-img {
  width: 80%;
  height: 80%;
  position: absolute;
  bottom: 0;
  margin-left: 12%;

}

.text {
  width: 45%;
  align-items: center;
  display: inline-block;
  align-items: center;
  margin-top: 10%;
  padding: 1rem;
  margin-left: 10%;
}
 

/* ----------------------- skills ---------------*/
.skills {
  height: 550px;
  background-color: blueviolet;
}

.skillsLogo {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem ;
  justify-content: center;
}
.technology__box {
  display: flex ;
  justify-content: center;
}
.skillsText {
  padding-top: 2%;
  text-align: center;
}




/* ----------------------- projects ---------------*/

 .project {
  width: 15%;
  height: 20%;
  border: 2px solid darkblue;
}



/* ----------------------- contacts ---------------*/
.contacts {
  height: 550px;
  background-color: chartreuse;
}


/* ----------------------- footer ---------------*/

.footer {
  height: 50px;
  background-color: darkgray;
}

